.admin_categories {
  /* background-color: #ccc; */
}

.admin_categories .category_sorround {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category_sorround .single_category {
  width: 20%;
  height: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
}
.single_category img {
  width: 100%;
  height: 50%;
}

.single_category h4 {
  margin-top: 1rem;
}

.single_category .more_action {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.single_category .action_box {
  position: absolute;
  right: 0;
  top: 40px;
  width: 100px;
  height: 60px;
  padding: 5px 0;
  background-color: rgb(235, 231, 231);
}
.single_category .action_box p {
  cursor: pointer;
}
.single_category .action_box p:hover {
  background-color: #ccc;
}
.single_category .action_box .delete {
  margin-top: -15px;
}

.sub_go {
  margin-top: 1rem;
}

@media (max-width: 1300px) {
  .category_sorround .single_category {
    width: 35%;
  }
  .admin_categories .category_sorround {
    justify-content: center;
  }
}
