.client_home {
  padding-top: 2rem;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 2rem;
}
/* Bannner */
.client_home_banner {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  height: 200px;
}
.slider img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.slider {
  width: 100%;
  opacity: 0;
  transition: 1s ease;
}

.slider.active {
  opacity: 1;
  transition: 1s;
  transform: scale(1.08);
}
.client_home_banner ul {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: -2rem;
  right: 0;
}
.client_home_banner ul li {
  border: 2px solid #eee;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3f4c58;
  cursor: pointer;
}
.client_home_banner ul .active {
  background-color: #e01936;
}

/* Products */
.client_home_products {
  width: 100%;
  margin-top: 5rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
  position: relative;
}
.item_added {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;

  justify-content: center;
}
.item_added .item_added_sorround {
  width: 30%;
  margin-top: 6rem;
  height: 100px;
  background: #9b2335;
  border-radius: 4px;
  color: #fff;
  z-index: 20;
  position: relative;
  padding-top: 2rem;
}
.item_added_sorround span {
  position: absolute;
  top: 0;
  right: -2rem;
  cursor: pointer;
}
.item_added_sorround p {
  width: 50%;
  height: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin: auto;
}

@media (max-width: 1280px) {
  .client_home_products {
    margin-top: 2rem;

    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 800px) {
  .client_home_banner ul {
    bottom: 2rem;
  }
  .client_home_products {
    margin-top: 0rem;
  }
  .client_home_products {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .client_home_banner {
    height: 400px;
  }
  .slider img,
  .slider.active img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: -3rem;
  }
}
