.forgot_pwd {
  width: 100%;
  height: 80vh;
  margin-top: 10rem;
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
}
.forgot_pwd-sorround {
  width: 60%;
  height: 60%;
  background-color: #eee;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 2px 2px #ccc;
}

.forgot_pwd-left {
  background-color: red;
  padding: 10px;
}
.forgot_pwd-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.forgot_pwd-right > p {
  width: 60%;
  text-align: center;
  padding: 1rem 0;
}
.forgot_pwd-right form {
  width: 70%;
  border-bottom: 1px solid #ccc;
}
.forgot_pwd-right form input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem;
  border: 1px solid #333;
  border-radius: 20px;
}
.forgot_pwd-right form input:focus {
  outline-color: #325795;
}

.forgot_pwd-right form button {
  display: block;
  margin: 1rem auto;
  padding: 5px 25px;
  /*  border: 1px solid #333; */
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #325795;
  letter-spacing: 1px;
}
.forgot_pwd-right-etc {
  margin-top: 1rem;
}

.forgot_pwd-right-etc .already:hover {
  font-weight: normal;
  color: #325795;
}

@media (max-width: 1280px) {
  .forgot_pwd-sorround {
    width: 80%;
    height: 90%;
  }
}
@media (max-width: 800px) {
  .forgot_pwd {
    height: 100vh;
  }
  .forgot_pwd-sorround {
    width: 95%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .forgot_pwd {
    margin-top: 1rem;
    min-height: 100vh;
    margin-bottom: 3rem;
  }
  .forgot_pwd-sorround {
    width: 100%;
    height: 80vh;
    flex-direction: column;
  }
}
