* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #e2e2e2;
}
li {
  list-style: none;
  padding: 0;
}
.text_area {
  resize: none;
  height: 150px;
  width: 100%;
  padding: 10px;
}
.btn,
button,
input {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img {
  object-fit: cover;
}

.link_class {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.link_class:hover {
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.5px;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  background: white;
  overflow: hidden;
}

.App .main {
  /* background-color: #ccc; */
  max-width: 80vw;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  margin-top: 8rem;
  /* background-color: #eee; */
}

.icon_white {
  color: white;
}
.icon_silver {
  color: silver;
}
.icon_green {
  color: green;
}
.icon_red {
  color: red;
}
.icon_dark {
  color: gray;
}

.rating span {
  color: #ffc000;
}

/* IMPORT STYLES */
@import url("./loading.css");
@import url("./header.css");
@import url("./login.css");
@import url("./register.css");
@import url("./forgot_password.css");
@import url("./admin_home.css");
@import url("./admin_categories.css");
@import url("./admin_products.css");
@import url("./admin_add_category.css");
@import url("./admin_add_product.css");
@import url("./footer.css");
