.product_review_container {
  width: 100%;
  min-height: 100vh;
}
.product_review_container .product_review_container-banner {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.product_review_container .product_review_container-banner img {
  width: 100%;
}
.product_review {
  width: 100%;
  min-height: 100vh;
  /*  background-color: #ccc; */
  margin-bottom: 2rem;
  display: flex;
}
/* Left */
.product_review-left {
  /* border: 1px solid #ccc; */
  width: 50%;
  padding: 1rem;
  display: flex;
}

.product_review-left-1 {
  flex: 1;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.product_review-left-1 .images-box {
  width: 4rem;
  height: 4rem;
  border: 1px solid green;
  cursor: pointer;
}
.product_review-left-1 .images-box img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.4s;
}
.images-box.active {
  border-color: red;
}
.product_review-left-2 {
  flex: 3;
  /* background-color: #ccc; */
}

.product_review-left-2 img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

/* center */
.product_review-center {
  /*  border: 1px solid #ccc; */
  width: 35%;
  padding-right: 1rem;
}
.product_review-center .product-description {
  color: rgb(160, 156, 156);
  font-weight: normal;
}
/* Rating actions */
.rating_box_review {
  position: relative;
}
.rate_product_title {
  font-size: 16px;
  margin: 1rem 0;
}
.rate_the_product {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 3px 3px #eee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rate_the_product .rate_value {
  width: 90%;
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
.rate_the_product .rate_value:hover {
  background-color: #eee;
}
.product_review-center .deal {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.product_review-center .deal .perc {
  background-color: #cc0c39;
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.product_review-center .deal .deal_text {
  color: #cc0c39;
  font-size: 12px;
  font-weight: bold;
}

.product_review .price_info {
  position: relative;
  width: max-content;
}

.product_review .price_info .euro {
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: -10px;
}
.product_review .price_info .zero {
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: -15px;
}
/* right */
.product_review-right {
  border: 1px solid #ccc;
  width: 15%;
  border-radius: 10px;
  padding: 1rem;
}
.product_review-right .free {
  color: green;
  font-weight: 500;
}

.product_review-right .free.down {
  margin-top: -15px;
}

.product_review-right .card-text {
  color: crimson;
  font-weight: 500;
}

.product_review-right .avaliable {
  font-weight: 700;
  color: rgb(2, 75, 2);
}
.product_review-right .avaliable-not {
  font-weight: 700;
  color: red;
  text-decoration: line-through;
}

.product_review-right .quantity input {
  width: 30px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.product_review-right .action_buttons {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
}

.product_review-right .action_buttons button {
  width: 80%;
  display: block;
  border: none;
  margin: 0 auto;
  border-radius: 15px;
  padding: 5px 10px;
  color: #000;
}
.product_review-right .action_buttons .add_basket {
  background-color: #ffd814;
}
.product_review-right .action_buttons .buy_now {
  background-color: #ffa41c;
  margin-top: 1rem;
}

@media (max-width: 1280px) {
  .product_review-left {
    width: 40%;
  }
  .product_review-center {
    width: 35%;
  }
  .product_review-right {
    width: 25%;
  }
  .rate_the_product {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .product_review-left {
    width: 33.3%;
  }
  .product_review-center {
    width: 33.3%;
  }
  .product_review-right {
    width: 33.3%;
  }
}
@media (max-width: 500px) {
  .product_review {
    flex-direction: column;
    align-items: center;
  }
  .product_review-left {
    width: 90%;
  }
  .product_review-center {
    width: 90%;
  }
  .product_review-right {
    width: 90%;
  }
}
